<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <style>
        .mask:hover{
            cursor: move;
        }
    </style>
    <body style="background-color: black;">
        <div class="mask panel panel-default" style="width: 150px;height: 250px;position: fixed;left: 10px;top: 10px;background-color: aliceblue;align-content: center;border: 10px;">
            <!-- <form action="/follower">
                limit<input type="text" name="limit" style="width: 100%;" value="1000">
                userId<input type="text" name="userId" style="width: 100%;" value="11">
                <input type="submit" value="确定">
            </form> -->
            <form class="form-horizontal" role="form" style="margin-left: 10%;margin-right: 10%;margin-top: 10%;margin-bottom: 10%;" action="/follow">
                <div class="form-group">
                    <div class="col-sm-10"><p style="user-select: none;">userId</p>
                        <input type="text" class="form-control" name="userId" value="{{userId}}"
                               placeholder="画师id">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10"><p style="user-select: none;">limit</p>
                        <input type="text" class="form-control" name="limit" value="{{limit}}"
                               placeholder="limit">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        {% if foll=="关注" %}
                        <input type="radio" value="关注" name=foll checked>关注
                        <input type="radio"  value="粉丝" name=foll>粉丝
                        {% else %}
                        <input type="radio" value="关注" name=foll>关注
                        <input type="radio"  value="粉丝" name=foll checked>粉丝
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">确定</button>
                    </div>
                </div>
            </form>
        </div>
        <a href="https://www.bilibili.com/" class="btn btn-default" style="position: fixed;right: 0;top: 0;">返回</a>
        <svg></svg>
        <script type="text/javascript" src="http://d3js.org/d3.v5.min.js"></script>
        <script>
            var width = window.innerWidth;
            var height = window.innerHeight;
            var svg=d3.select("svg").attr("width",width).attr("height",height);
         
            var marge = {top:10,bottom:10,left:10,right:10}
         
            var g = svg.append("g")
                .attr("transform","translate("+marge.top+","+marge.left+")");
         
            //准备数据
            var nodes = [//节点集
                {% for node in nodes %}
                    {name:"{{node[0]}}",group:{{node[1]}}},
                {% endfor %}
            ];
            var edges = [//边集
                {% for edge in edges %}
                    {source:{{edge[0]}},target:{{edge[1]}},value:2},
                {% endfor %}
            ];
           
            //设置一个color的颜色比例尺，为了让不同的扇形呈现不同的颜色
            var colorScale = d3.scaleOrdinal()
                .domain(d3.range(nodes.length))
                .range(d3.schemeCategory10);
         
         
            var forceSimulation = d3.forceSimulation()
                .force("link",d3.forceLink())
                .force("charge",d3.forceManyBody())
                .force("center",d3.forceCenter());
            //生成节点数据
            forceSimulation.nodes(nodes)
                .on("tick",ticked);//这个函数很重要，后面给出具体实现和说明
            //生成边数据
            forceSimulation.force("link")
                .links(edges)
                .distance(function(d){//每一边的长度
                    return d.value*100;
                })
            //设置图形的中心位置
            forceSimulation.force("center")
                .x(width/2)
                .y(height/2);
            //在浏览器的控制台输出
            // console.log(nodes);
            // console.log(edges);
            // console.log(colorScale(nodes[0].group));
            //绘制边
            var links = g.append("g")
                .selectAll("line")
                .data(edges)
                .enter()
                .append("line")
                .attr("stroke",function(d,i){
                    return colorScale(d.value);   //边的颜色
                    //return "#ccc";
                })
                .attr("stroke-width",1);
            //边上文字
            var linksText = g.append("g")
                .selectAll("text")
                .data(edges)
                .enter()
                .append("text")
                .text(function(d){
                    return d.relation;
                })
            //建立用来放在每个节点和对应文字的分组<g>
            var gs = g.selectAll(".circleText")
                .data(nodes)
                .enter()
                .append("g")
                .attr("transform",function(d,i){
                    var cirX = d.x;
                    var cirY = d.y;
                    return "translate("+cirX+","+cirY+")";
                })
                .call(d3.drag()
                    .on("start",started)
                    .on("drag",dragged)
                    .on("end",ended)
                );
         
            //绘制节点
            gs.append("circle")
               // .attr("r",20)
                .attr("r",function (d,i) {    //圆圈半径
                    return d.group*8;
                })
                .attr("fill",function(d,i){
                    //return colorScale(i);
                    return colorScale(d.group);
                }).attr("stroke","#F5F5DC")
                .attr("stroke-width",1.5)
            //文字
            gs.append("text")
                /*.attr("x",-10)
                .attr("y",-20)
                .attr("dy",10)*/
                .attr("x",-15)
                .attr("y",5)
                // .attr("dy",10)
                .text(function(d){
                    return d.name;
                }).attr("font-size",10).attr("stroke","white").attr("stroke-width", 0.5).attr("fill", "none");
            function ticked(){
                links
                    .attr("x1",function(d){return d.source.x;})
                    .attr("y1",function(d){return d.source.y;})
                    .attr("x2",function(d){return d.target.x;})
                    .attr("y2",function(d){return d.target.y;});
         
                linksText
                    .attr("x",function(d){
                        return (d.source.x+d.target.x)/2;
                    })
                    .attr("y",function(d){
                        return (d.source.y+d.target.y)/2;
                    });
         
                gs
                    .attr("transform",function(d) { return "translate(" + d.x + "," + d.y + ")"; });
            }
            //drag
            function started(d){
                if(!d3.event.active){
                    forceSimulation.alphaTarget(0.8).restart();//设置衰减系数，对节点位置移动过程的模拟，数值越高移动越快，数值范围[0，1]
                }
                d.fx = d.x;
                d.fy = d.y;
            }
            function dragged(d){
                d.fx = d3.event.x;
                d.fy = d3.event.y;
            }
            function ended(d){
                if(!d3.event.active){
                    forceSimulation.alphaTarget(0);
                }
                d.fx = null;
                d.fy = null;
            }
         
        </script>
        // <script>
        //     var mask = document.querySelector(".mask");
        //     mask.style["display"] = "block";
        //     mask.addEventListener("mousedown",function (e) {
        //         var startX = e.pageX - mask.offsetLeft;
        //         var startY = e.pageY - mask.offsetTop;
        //         window.addEventListener("mousemove",move);
        //     function move(e){
        //         var endX = e.pageX  - startX;
        //         var endY = e.pageY  - startY;
        //         mask.style["left"] = endX + "px";
        //         mask.style["top"] = endY + "px";
        //     }
        //     document.addEventListener("mouseup",function () {
        //         window.removeEventListener("mousemove",move);
        //     })
        // })
        // </script>
        <script>
			var masks = document.querySelectorAll(".mask");
			function drag_bind(mask){
				mask.style["display"] = "block";
				mask.addEventListener("mousedown",function (e) {
					var startX = e.pageX - mask.offsetLeft;
					var startY = e.pageY - mask.offsetTop;
					window.addEventListener("mousemove",move);
					function move(e){
						var endX = e.pageX  - startX;
						var endY = e.pageY  - startY;
						mask.style["left"] = endX + "px";
						mask.style["top"] = endY + "px";
					}
					document.addEventListener("mouseup",function () {
						window.removeEventListener("mousemove",move);
					})
				})
			}
			masks.forEach(drag_bind);
        </script>
    </body>
</html>