pre {
    white-space: pre-wrap;
    background-color: cadetblue;
}

h1{
    font-size: 51px;
    text-align: center;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 16px;
}